.generic-button{
    background: var(--border);
    font-style: normal;
    font-weight: 500;
    line-height: 100%;
    text-align: center;
    color: #FFFFFF;
    border: 1px solid var(--border);
    box-sizing: border-box;
    /* box-shadow: 0px 4px 10px #A6CAD1; */
    border-radius: 5px;
    width: 100%;
    cursor: pointer;
}

.backButtonStyle {
    background: #FFFFFF;
    border: 1px solid #DADADA;
    box-sizing: border-box;
    border-radius: 4px;
    font-style: normal;
    font-weight: 700;
    font-size: 18px;
    line-height: 21px;
    color: #000000;
}

@media only screen and (max-width: 600px){
    .generic-button{
        font-size: 19px;
        height: 100%;
        border-radius: 0px;
    }

    .borderRadiusBottom{
        /* border-radius: 0px 0px 20px 20px; */
        border-radius: 6px;
    }
} 

@media only screen and (min-width: 600px ){
    .generic-button{
        font-size: 18px;
        height: 100%;
    }
} 